# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
.env.local
client/.env
server/.env

# Build folders
dist/
build/
client/dist/

# Logs
*.log

# Vite cache
.vite/

# OS files
.DS_Store
Thumbs.db